* {
    background-color: rgb(245, 245, 220);
    text-align: center;
}
h1, h2 {
    color: rgb(185, 142, 85);
}
.recipes {
    display: flex;
    list-style: none;
}

.item {
  background-color: rgb(206, 161, 103);
  border-radius: 10%;
  margin: 20px;
  padding: 20px;
}

ul, ol {
    list-style-position: inside;
}

.pic-attribute {
    opacity: 77%;
}